/*variables*/
:root {
    --colorNaranja : #e65100;
}
/*inicializo*/
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}
li {
    list-style: none;
    display: inline;
    padding: 0 10px;
}
body {
    background-image: url("../images/bg-2.png");
}
.login {
    width: 100%;
    max-width: 1140px;
}
.login header {
    background-color:var(--colorNaranja);
    width: 100%;
    max-width: 1140px;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
}
.login header img {
    float: left;
}
.login header .nav-options {
    display: inline-block;
    padding: 10px 0;
}
.login header .nav-login {
    float: right;
    padding: 10px 0;
}
.login main {
    margin-top: 100px;
}
.login main .formulario {
    width: 100%;
    max-width: 350px;
    padding: 30px 10px;   
}
.login main .formulario h1 {
    text-transform: uppercase ;
    text-align: center;
    padding: 20px 0;
}
.login main .formulario div {
    width: 100%;
    padding: 10px 0;
}
.login main .formulario .datos h4 {
    padding: 5px 0;
}
.login main .formulario .datos input {
    width: 100%;
    height: 30px;
}
#div-button-recordarme {
    text-align: right;
    padding-right: 10px;
}
.login main .formulario p {
    margin:10px 0;
    color: red;
}
#button-login {
    width: 120px;
    height: 30px;
    background-color:#3d8dbc;
    color: white;
    font-weight: 700;
    border-radius: 7px;
}
/*VERSION PARA TABLETS Y ESCRITORIO*/
@media only screen and (min-device-width : 460px) {
    .login {
        padding: 20px 10px;
       /* margin: 20px 10px;*/
    }.login header {
        position: relative;
        padding: 5px 10px;
        margin-bottom: 20px;
    }
    .login header .nav-options {
        float: left;
    }
    .login main {
        margin-top: 0;
    }
    .login main .formulario {
        padding: 30px 0;
    }
}
    